<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="2.3.1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.4.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.29.0" targetFramework="net452" />
</packages>